table, th, td {
    border:1px solid black;
}

#tabela{
    width: 40%;
}

#head-form{
    background-color: silver;
}

#inputTb{
    border: none;
}

#nomeid, #cepid, #enderid, #telid, #cpfid, #mailid{
    border: none;
}

.tdTitulo{
    width: 30%;
    text-align: center;
}

.tdCampo{
    width: 150px;
}

#botaoTb{
    margin-top: 10px;
    margin-left: 5px;
    box-shadow: 3px 2px 3px black;
}

#enviarBt{
    width: 100%;
    border-style: none;
}

#enviarBt:hover{
    background-color: rgb(209, 209, 209);
    font-weight: bold;
}